<app-navbar></app-navbar>
<div class="education-dashboard">
  <h2>📁 My Projects</h2>

  <!-- Project Table -->
  <div class="project-container">
    <div class="edu-header">
      <span>Title</span>
      <span>Software</span>
      <span>Technology</span>
      <span>Description</span>
      <span>Document</span>
      <span>Actions</span>
    </div>

    <div class="edu-row" *ngFor="let project of projectList">
      <span>{{ project.projectTitle }}</span>
      <span>{{ project.softwareUsed }}</span>
      <span>{{ project.technologyUsed }}</span>
      <span class="desc-column">{{ project.description }}</span>
    <span *ngIf="project.document">
      <button type="button" class="btn-view" (click)="viewCertificate(project.document)">
        📄 View
      </button>
    </span>
      <span class="edu-actions">
        <button class="btn-edit" (click)="onEdit(project)">✏️ Edit</button>
        <p></p>
        <button class="btn-delete" (click)="onDelete(project.projectId)">🗑 Delete</button>
      </span>
    </div>
  </div>

  <!-- Add/Edit Form -->
  <div class="add-edu-form">
    <h3>{{ isEditing ? '✏️ Edit Project' : '➕ Add Project' }}</h3>

    <form (ngSubmit)="onSubmit()" enctype="multipart/form-data">
      <div class="form-row">
        <label>Project Title:</label>
        <input type="text" [(ngModel)]="newProject.projectTitle" name="projectTitle" required />
      </div>

      <div class="form-row">
        <label>Software Used:</label>
        <input type="text" [(ngModel)]="newProject.softwareUsed" name="softwareUsed" required />
      </div>

      <div class="form-row">
        <label>Technology Used:</label>
        <input type="text" [(ngModel)]="newProject.technologyUsed" name="technologyUsed" required />
      </div>

      <div class="form-row">
        <label>Description:</label>
        <textarea [(ngModel)]="newProject.description" name="description" rows="4" required></textarea>
      </div>

      <div class="form-row">
        <label>Document (PDF/Image):</label>
        <input type="file" (change)="onFileChange($event)" />
      </div>

      <button type="submit" class="btn-add">
        {{ isEditing ? 'Update Project' : 'Add Project' }}
      </button>
    </form>
  </div>
</div>
