<app-shared-navbar></app-shared-navbar>
<div class="education-dashboard">
  <h2>📄 My Documents</h2>

  <!-- Documents Table -->
  <div class="education-container">
    <div class="edu-header">
      <span>Document Name</span>
      <span>File</span>
    </div>

    <div class="edu-row" *ngFor="let other of othersList">
      <span>{{ other.documentName }}</span>
    <span *ngIf="other.documentFile">
      <button type="button" class="btn-view" (click)="viewCertificate(other.documentFile)">
        📄 View
      </button>
    </span>
    </div>
  </div>

 